<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<%- include ('partials/navbar.ejs') %>

    <body>
        <link rel="stylesheet" href="/css/about.css">
        <div id="header">
            <p style="margin-bottom:0;"><b>SOFIIA ROMASHOVA</b></p>
            <p style="font-size:23px; margin : 0; padding-top:0">Unix/Linux/C#.NET | Java | Versatile Problem Solver | UI/UX </p>
        </div>
        <div class="intro"> 
            <div id="first-block">
                <div id = "quote">
                <p>"You might not think that programmers are artists, but programming is an extremely creative profession. It is logic-based creativity."</p></div>
                <p>- John Romero</p>
            </div>
                <img src="/img/about.png" id="about">
        </div>
        <div id="headerText">
            <p>
                I am presently enrolled in an Advanced Diploma program in Software Engineering Technology at Centennial College, where I am consistently achieving excellence. 
                During my academic path, tasks such as software component maintenance, the creation of clean code solutions, and the optimization of configurations for peak 
                performance have all become ingrained in my skill set. Additionally, I possess robust abilities in communication, teamwork, and analytical thinking, making 
                me well-prepared to seamlessly integrate into any development project.
            </p>
            <br>
            <p style="text-align:left"><b>BRIEF SKILL SUMMARY:</b></p>
            <ul style="text-align:left">
                <li>Specialize in <b>object-oriented software design, graphical user interface design and project management</b></li>
                <li>Proficient in <b>C#, HTML, CSS, JavaScript, and Unix/Linux environment, Bootstrap</b></li>
                <li>Solid foundational knowledge of <b>Java, Oracle SQL, and Python; XML and JSON </b>data formats</li>
                <li>Strong understanding of development practices and tools <b>(agility, scrums, Kanban, XP, UML, GitHub)</b></li>
                <li>Solid understanding of Software Development Life Cycle <b>(SDLC)</b> and experience using <b>Jira</b> to track projects, enhance collaboration and achieve project deadlines </li>
                <li>Extensive familiarity with MS Office applications and a solid foundational understanding of <b>Power BI</b></li>
                <li>Skilled with digital graphic design tools <b>Photoshop, InDesign and Illustrator</b></li>
            </ul>
            <p><a target="_blank" href="../public/img/SofiiaRomashova_Resume.pdf">Read more...</a></p>
            <img src="/img/Seneca.png" class="achievement">
            <img src="/img/Centennial.png" class="achievement">
        </div>

        <%- include ('partials/footer.ejs') %>
    </body>
</html>

    
