<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sofiia Romashova</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<%- include ('partials/navbar.ejs') %>

<body>
    <div style="padding-top:15%; width:100%"><h1><i>Hello, fellow professionals!</i></h1></div>
    <hr style="width:50%">
    
    <!-- Updated relative path to image file -->
    <img src="/img/portrait.jpg" id="portrait">
    <br>
    <br>
    <div class="intro">
        <p><b>I go by the name Sofiia, though you can simply call me Sof.</b></p> 
        <p>I'm a Software Developer, passionate about delivering exceptional results and fueled by my deep enthusiasm for technological advancement. 
            With hands-on experience in project management and a solid foundation in user experience design, I'm always pushing boundaries to create 
            adaptable software solutions for our digital age.</p>
        </p>
        <br>
        <p>As we navigate the boundless realms of technology, let's embark on this transformative journey together, 
            turning every challenge into an opportunity to shape a brighter digital future.</p>
            <br>
            <p>I am looking forward to working with you.</p>
                <br>
        <p style="text-align:left">&nbsp;&nbsp;&nbsp;Sincerely yours, </p>
        <img src="/img/Signature.png" id="signature">
    </div>
    

    <%- include ('partials/footer.ejs') %>
</body>
</html>
