<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sofiia Romashova</title>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/services.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <%- include ('partials/navbar.ejs') %>

    <body>
        <div style="padding-top:15%; width:100%"><h1><i>Services</i></h1></div>
        <hr style="width:50%">


        <div class="col1">
            <img src="/img/productDesign.jpg">
            <div class="middle"> 
                <div class="text">Product Design</div>
            </div>
        </div>

        <div class="col1">
            <img src="/img/DB.jpg">
            <div class="middle">
                <div class="text">Database Management & Data Analysis</div>
            </div>
        </div>

        <div class="col1">
            <img src="/img/graphicDesign.jpg">
            <div class="middle">  
                <div class="text">Digital Graphic Design</div>
            </div>
        </div>

        <div class="col1">
            <img src="/img/webDev.jpg">
            <div class="middle">
                <div class="text">Web Development</div>
            </div>
        </div>

        <div class="col1">
            <img src="/img/genProg.jpg">
            <div class="middle">
                <div class="text">General Programming</div>
            </div>
        </div>

        <div class="col1">
            <img src="/img/network.jpg">
            <div class="middle">
                <div class="text">Networking and OS</div>
            </div>
        </div>
        <%- include ('partials/footer.ejs') %>
</body>
</html>